NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=pokemon
DB_PASSWORD=pokemon
DB_DATABASE=pokemon_teams

RABBITMQ_URI=amqp://pokemon:pokemon@localhost:5672
RABBITMQ_EXCHANGE=pokemon.events

POKEAPI_BASE_URL=https://pokeapi.co/api/v2
MAX_POKEMON_PER_TEAM=6
